body {
    /*background-color: rgb(28, 38, 39);*/
    background: url("./images/background_1.jpg") no-repeat center top fixed;
    background-position: center center;
    background-size: cover;
}

header {
    display: flex;
}

#container_abouts_our_company {
    width: 90%; /* Прямоугольник займет 50% ширины родительского элемента */
    height: 600px; /* Фиксированная высота */
    background-color: #000000a7; /* Цвет фона */
    margin: 0 auto; /* Центрирование на странице */
}

#header_logo {
    height: 100px;
   
}

#navigation_panel {
    display: flex;
    
    padding: 0 10px; 
    
    color: #e2ecec;
}

.navigation_item {
    flex: 1 1 auto;
    margin: 0 10px;
    font-size: 16px;
    width: 150px;
    height: 50px;
    margin-top: 25px;
    color: #e2ecec;
    border-radius: 10px;
    background-color: #6c7777;
}



#input_search_service {
    width: 500px;
    height: 50px;
    border-color: #6c7777;
    font-size: 20px;
    border-radius: 30px;
    background-color: rgb(28, 38, 39);
    margin-top: 20px;
    margin-left: 10px;
    padding-left: 10px;
    color: #6c7777;
}